.register-footer {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 70px;

    margin-top: 2rem;

    .register-footer-left {

        flex: 1 1 0;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .register-footer-center {

        flex: 3 3 0;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .register-footer-right {

        flex: 1 1 0;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

}