@import 'styles/utils.scss';

.username-box {

    .username-box-content {

        display: flex;
        flex-direction: row;
        padding: 0.3rem;

        .username-box-name {
            margin: 0 1rem 0 .5rem;
        }

    }

}