@import 'styles/utils.scss';

.currency-details-panel {

    height: 100%;
    padding: 1rem;

    background: white;

    display: flex;
    flex-direction: column;

    .currency-details-filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        div {
            padding: 0.3rem 0.8rem;
            background: material-color('grey', '300');

            &:hover {
                background: material-color('grey', '400');
                cursor: pointer;
            }

            &.currency-details-filter-active {
                background: material-color('lime', '500');
            }
        }

        div + div {
            margin-left: .5rem;
        }
    }

    .currency-details-chart-wrapper {
        width: 100%;
    }

    .currency-details-prices {
        padding: 1rem;
        border: 1px solid material-color('grey', '500');
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background: material-color('grey', '100');

        .currency-details-prices-item {
            flex: 1 1 0;
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .currency-details-font-small {
            font-size: 14px;
            color: material-color('grey', '600');
            padding: 0.25rem;
        }

        .currency-details-font-large {
            font-size: 22px;
            color: black;
            padding: 0.25rem;
        }
    }

}