@import 'styles/utils.scss';

.currency-details-panel {

    height: 100%;
    padding: 1rem;

    background: white;

    display: flex;
    flex-direction: column;

    .currency-details-filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        div {
            padding: 0.3rem 0.8rem;
            background: material-color('grey', '300');

            &:hover {
                background: material-color('grey', '400');
                cursor: pointer;
            }

            &.currency-details-filter-active {
                background: material-color('grey', '500');
            }
        }

        div + div {
            margin-left: .5rem;
        }
    }

    .currency-details-chart-wrapper {
        width: 100%;
    }

}