$breakpoints: (
    small : 376px,
    medium: 764px,
    large : 1024px,
    huge  : 1200px
);

$background-z-index: 0;
$content-z-index: 50;
$header-z-index: 100;
$header-dropdown-z-index: 110;
$header-height: 3.5rem;