@import 'styles/utils.scss';

.header {

    height: $header-height;
    background: material-color('lime', '600');
    
    .responsive {

        padding-left: 1rem;
        padding-right: 1rem;
        @include responsive();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;

        .logo-wrapper {
            position: absolute;
        }

        .right-side {
            margin-left: auto;
        }

    }

}