@import 'styles/utils.scss';

.header {

    height: $header-height;
    background: linear-gradient(material-color('lime', '800'), material-color('lime', '700'));
    
    .header-responsive {

        padding-left: 1rem;
        padding-right: 1rem;
        @include responsive();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;

        .header-logo-wrapper {
            position: absolute;
        }

        .header-right-side {
            margin-left: auto;
        }

    }

}