@import 'styles/utils.scss';

.input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px solid material-color('grey', '600');
    color: material-color('grey', '600');
    &::placeholder {
        font-family: 'NanumSquare';
        color: material-color('grey', '600');
    }
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1.25rem;
    transition: color .3s, border-color .3s;
    
    &.full-width {
        width: 100%;
    }
    &:focus {
        border-bottom: 1.5px solid material-color('lime', 'a400');
        color: black;
        &::placeholder {
            color: black;
        }
        &.input-dark {
            color: white;
            &::placeholder {
                color: white;
            }
        }
    }
}

.input + .input {
    margin-top: 1rem;
}