@import 'styles/utils.scss';

.tabs {

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    &.tabs-vertical {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tab-list {

        display: flex;
        flex-direction: row;
        &.tabs-vertical {
            flex-direction: column;
        }

        .tab-list-item {
            display: inline-block;
            padding: 0.5rem 0.75rem;
            &.tab-list-custom-padding {
                padding: 0;
            }
            background: material-color('grey', '100');
            border: material-color('grey', '400');
            cursor: pointer;
        }
        
        .tab-list-active {
            background: material-color('grey', '400');
            border: material-color('grey', '100');
        }
        
        @include material-shadow(2);
        z-index: 10;

    }

    .tab-content {

        background: material-color('grey', '300');
        min-height: 500px;
        width: 100%;

    }

}