@import 'styles/utils.scss';

.header-nav {

    .header-nav-login-button {
        padding: 0.3rem 1rem;
        &:hover {
            color: material-color('lime', '800');
        }
    }

    .header-nav-dropdown {

        float: left;
        display: relative;

        cursor: pointer;

        .header-nav-dropdown-button {
            border: none;
            outline: none;
            background: transparent;
            padding: 0;
            margin: 0;
        }

        .header-nav-dropdown-content {
            display: block;
            visibility: hidden;
            position: absolute;
            min-width: 150px;
            background: material-color('lime', '900');
            z-index: $header-dropdown-z-index;

            div {

                font-family: 'Nanum Gothic';
                font-size: 14px;
                font-weight: 600;
                padding: 8px;
                color: material-color('grey', '100');

                &:hover {
                    transition: .15s ease-in;
                    background: material-color('grey', '100');
                    color: material-color('lime', '900');
                }
    
                &:active {
                    background: material-color('grey', '300');
                }

            }

        }

        &:hover {
            .header-nav-dropdown-content {
                visibility: visible;
            }
        }

    }

}