@import 'styles/utils.scss';

.button {
    display: inline-block;
    transition: .15s ease-in;

    text-align: center;

    // size settings
    &.button-flex-child {
        flex: 1 1 0;
    }

    &.button-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    // font settings
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 600;

    &.button-large {
        font-size: 18px;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
    
    // color settings
    border: none;
    background: material-color('light-green', '600');
    color: material-color('grey', '100');
    &:hover {
        background: material-color('light-green', '800');
    }
    &:active {
        background: material-color('light-green', '700');
    }

    &.button-round-corner {
        border-radius: 6px;
    }

    &.button-shadow {
        &:hover {
            @include material-shadow(2);
        }
        &:active {
            @include material-shadow(3);
        }
    }

    &.button-transparent {
        background: transparent;
        border: 1.5px solid material-color('grey', '100');
        color: material-color('grey', '100');
        &:hover {
            background: material-color('grey', '100');
            color: material-color('lime', '800');
        }
    }

}