@import 'styles/utils.scss';

.block-wrapper {

    align-self: center;

    background: material-color('grey', '100');
    overflow: hidden;

    box-sizing: content-box;

    margin: 1rem;
    &.block-custom-margin {
        margin: 0;
    }

    &.block-round-corner {
        border-radius: 6px;
    }

    &.block-shadow {
        @include material-shadow(4);
    }

    &.block-transparent {
        background: rgba(255, 255, 255, 0.5);
    }

    &.block-dark {
        background: material-color('grey', '900');
    }

    .block {

        background: material-color('grey', '100');
        padding: 1rem;

        font-family: 'NanumSquare';
        font-weight: 400;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.block-transparent {
            background: rgba(255, 255, 255, 0.5);
        }

        &.block-dark {
            background: material-color('grey', '900');
        }

    }

}