@import 'styles/utils.scss';

.block-wrapper {

    background: material-color('grey', '100');
    overflow: hidden;

    box-sizing: content-box;

    margin: 1rem;

    &.block-round-corner {
        border-radius: 6px;
    }

    &.block-shadow {
        @include material-shadow(4);
    }

    .block {

        background: material-color('grey', '100');
        padding: 1rem;

        font-family: 'NanumSquare';
        font-weight: 400;

    }

}