@import 'styles/utils.scss';

.wrapper {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        flex: none;
        z-index: $header-z-index;
    }
    .background {
        position: fixed;
        min-width: 100%;
        min-height: 100vh;
        display: flex;
        z-index: $background-z-index;
        &.has-header {
            padding-top: $header-height;
        }
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        min-height: 100vh;
        z-index: $content-z-index;
        &.has-header {
            padding-top: $header-height;
        }
        &.responsive {
            padding-left: 1rem;
            padding-right: 1rem;
            @include responsive();
        }
    }
}