@import 'styles/utils.scss';

.content-divisor {

    flex: 1 1 0;
    align-self: stretch;

    display: flex;
    flex-direction: row;

    .left-child {
        flex: 1 1 0;

        &.shade {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    .right-child {
        flex: 1 1 0;
        
        &.shade {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    .separate-by-bar {
        flex: 0 1 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: .3px solid material-color('grey', '700');
    }

}