@import 'styles/utils.scss';

@keyframes highlight-default {
    from { background: material-color('grey', '300'); }
    to   { background: material-color('grey', '100') }
}

@keyframes highlight-dark {
    from { background: material-color('grey', '700'); }
    to   { background: material-color('grey', '900') }
}

.abbr-info-box {

    position: relative;

    width: 250px;
    &.abbr-info-box-expand {
        width: 100%;
    }

    font-family: 'NanumSquare';

    padding: .5rem;
    
    &.abbr-info-box-highlight {
        animation-name: highlight-default;
        &.abbr-info-box-dark {
            animation-name: highlight-dark;
        }
        animation-duration: 3s;
    }

    &.abbr-info-box-border {
        border: 1px solid material-color('grey', '700');
        &.abbr-info-box-dark {
            border: 1px solid material-color('grey', '300');
        }
    }

    &:hover {
        background: material-color('grey', '200');
        &.abbr-info-box-dark {
            background: material-color('grey', '800');
        }
    }

    .abbr-info-box-header {
        position: absolute;
        top: .5rem;
        left: .5rem;
    }

    .abbr-info-box-content {

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: right;

        .abbr-info-box-text {
            color: black;
            &.changetype-positive {
                color: material-color('light-green', '800');
            }
            &.changetype-neutral {
                color: material-color('grey', '700');
            }
            &.changetype-negative {
                color: material-color('red', '700');
            }
        }

        .abbr-info-box-changepercent {
            font-size: 14px;
            font-weight: 600;
        }

        .abbr-info-box-last {
            margin-top: .5rem;
            font-size: 24px;
            font-weight: 700;
        }

        .abbr-info-box-change {
            font-size: 16px;
            margin-bottom: .5rem;
            font-weight: 700;
        }

        .abbr-info-box-timestamp {
            font-size: 10px;
            color: material-color('grey', '500');
        }

    }

    &.abbr-info-box-dark {
        .abbr-info-box-header {
            color: material-color('grey', '100');
        }
        .abbr-info-box-content {
            .abbr-info-box-text {
                color: material-color('grey', '100');
                &.changetype-positive {
                    color: material-color('light-green', '400');
                }
                &.changetype-neutral {
                    color: material-color('grey', '400');
                }
                &.changetype-negative {
                    color: material-color('red', '400');
                }
            }
            .abbr-info-box-timestamp {
                font-size: 10px;
                color: material-color('grey', '500');
            }
        }
    }

}